<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KLAUSIMAS</title>

</head>
<body>
    <h1>KLAUSIMAS IR ATSAKYMAS</h1>


{#<table>#}
{#    <tr>#}
{#        <th>Image</th>#}
{#        <th>Name</th>#}
{#        <th>Section</th>#}
{#    </tr>#}
{#    {% for student in students %}#}
{#        <tr>#}
{#            <td>#}
{#               {% if student.image %}#}
{#                  <img src="{{ student.image.url }}" width="120">#}
{#                {% else %}#}
{#                    -#}
{#                {% endif %}#}
{#            </td>#}
{#            <td>{{ student.name }} </td>#}
{#            <td>{{ student.section }} </td>#}
{#        </tr>#}
{#    {% endfor %}#}

    <table>
        <tr>
            <th>Klausimas</th>
            <th>Atsakymas</th>
            <th>Taškai</th>
        </tr>
        {% for question in questions %}
        <tr>
           <td>
            {{question.question  }}
           </td>
            <td>
            <form

             </td>
        {% endfor %}
        </tr>

    </table>


{#</table>#}

</body>
</html>