<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KLAUSIMAS</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>KLAUSIMAS IR ATSAKYMAS</h1>
<form method="post">
                {% csrf_token %}

    <table>
        <tr>
            <th>Klausimas</th>
            <th>Atsakymas</th>
            <th>Taškai</th>
        </tr>
        {% for question in questions %}
            <tr>
            <td>
                {{ question.question }}
            </td>
            <td>

                <!-- Forma -->
                {{ answersform.as_p }}
                <!-- Forma -->

            </td>
            <td>
                {% if answersform %} {{ answer.question }}
                    gerai
                {% else %}
                    blogai
                {% endif %}
            </td>
        {% endfor %}
        </tr>

    </table>
                <input type="submit" value="Submit"/>

</form>

</body>
</html>