<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KLAUSIMAS</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>KLAUSIMAS IR ATSAKYMAS</h1>
{#{% if questions_with_answers %}#}
{#    {% for question_with_ans in questions_with_answers %}#}
{#        {% if question_with_ans.0.answer == question_with_ans.1 %}#}
{#            Correct {{ question_with_ans.1 }}#}
{#        {% else %}#}
{#            Incorrect {{ question_with_ans.1 }}#}
{#        {% endif %}#}
{#<br>#}
{#    {% endfor %}#}
{#{% endif %}#}


<form method="post">
    {% csrf_token %}

    <table>
        <tr>
            <th>Klausimas</th>
            <th>Atsakymas</th>
            <th>Taškai</th>
        </tr>
        {% for question in questions %}

            <tr>
            <td>
                {{ question.0.question }}
                <input type='hidden' name='question' value='{{ question.0.pk }}'/>

            </td>
            <td>

                <!-- Forma -->
                {{ answersform.as_p }}
                <!-- Forma -->

            </td>
            <td>
                        {% if question.0.answer == question.1 %}
                            Correct
                        {% else %}
                            Incorrect
                        {% endif %}

            </td>
        {% endfor %}
        </tr>

    </table>
    <input type="submit" value="Submit"/>

</form>

</body>
</html>